 <footer>
      <div class="row">
        <div class="col-md-2 text-right">
          <a
            href ="https://twitter.com/dmarcelinobr"
            title="My twitter account">
              <span class="thunder fa fa-twitter"></span>
          </a>
          <a
            href ="https://facebook.com/dmarcelinobr"
            title="My facebook account">
              <span class="thunder fa fa-facebook-official"></span>
          </a>
          <a
            href ="https://cl.linkedin.com/in/"
            title="My linkedin profile">
              <span class="thunder fa fa-linkedin"></span>
          </a>
          <a
            href ="https://plus.google.com/+dmsilva.br/posts"
            title="My google profile">
              <span class="thunder fa fa-google-plus"></span>
          </a>
          <a
            href ="https://github.com/danielmarcelino/"
            title="My github repos!">
              <span class="thunder fa fa-github"></span>
          </a>
          <a
            href ="https://github.com/danielmarcelino/"
            title="My github repos!">
              <span class="thunder fa fa-rss"></span>
          </a>
        </div>
		
      </div>
	 
  </footer>