<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-24186657-1', 'auto');
  ga('send', 'pageview');
  ga('require', 'GTM-WPLX7JX');
  
</script>

<script id="navegg" type="text/javascript">
  (function(n,v,g){o="Navegg";if(!n[o]){
    a=v.createElement('script');a.src=g;b=document.getElementsByTagName('script')[0];
    b.parentNode.insertBefore(a,b);n[o]=n[o]||function(parms){
    n[o].q=n[o].q||[];n[o].q.push([this, parms])};}})
  (window, document, 'https://tag.navdmp.com/universal.min.js');
  window.naveggReady = window.naveggReady||[];
  nvg48184 = new Navegg({
    acc: 48184
  });
</script>
