
<h1><a href="/"><span style='font-weight: bold;'>Daniel Marcelino</span></a></h1></span>
<div id="nav">
	<ul>
	   <li><a href="/blog" class="{% if page.url contains 'blog' %}current{% endif %}"><strong>Blog</strong></a></li>
		<li><a href="/about" class="{% if page.url contains 'about' %}current{% endif %}"><strong>About</strong></a></li>
	<li><a href="/research" class="{% if page.url contains 'about' %}current{% endif %}"><strong>Research</strong></a></li>
		<li><a href="/teaching" class="{% if page.url contains 'teaching' %}current{% endif %}"><strong>Teaching</strong></a></li>
		<li><a href="/software" class="{% if page.url contains 'software' %}current{% endif %}"><strong>Software</strong></a></li>		
	<li><a href="/randomwalks" class="{% if page.url contains 'randomwalks' %}current{% endif %}"><strong>Random Walks</strong></a></li>		
	</ul>
</div>
